.sidebar-inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.sidebar-burger {
    width: 72px;
    height: 72px;
    display: grid;
    place-items: center;
    background-image: url(../assets/img/icons8-bars-24.png);
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
}

body.open .sidebar-burger {
    background-image: url(../assets/img/icons8-close.svg);
}

header {
    display: flex;
    align-items: center;
    height: 72px;
    background-image: rgba(0,0,0,0.1);
}

.sidebar-logo {
    height: 20px;
    opacity: 0;
    transition: 0.3s;
}

body.open .sidebar-logo{
    opacity: 1;
}

.sidebar a {
    display: flex;
    gap: 25;
    align-items: center;
    height: 50px;
    width: 72px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 200;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 25px;
}

.sidebar-nav {
    flex: 1 1 auto;
}

@keyframes appear{
    0% {opacity: 0; translate: 0 10px;}
    100% {opacity: 1; translate: 0;}
}

body.open .sidebar a > span {
    opacity: 1;
    animation: appear 0.3s both;
}